.calc
{
    height: 600px;
    width: 500px;
    background: #248c9d;
    margin-left: 33%;
    margin-top: 5%;
    border: solid 10px;
    border-radius: 20px;
    border-color: #093137;
}
#out
{
    height: 50px;
    width: 430px;
    margin-top: 45px;
    margin-left: 31px;
    pointer-events: none;
    border: solid 5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
.btn
{
    width: 80px;
    height: 70px;
    margin-left: 33.5px;
    border-radius: 10px;
    border: solid 5px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}